body{
    font-family: 'Karma', serif;
    color:white;
    background-color: #e3dec8;
}

.header{
    height: 289px;
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-image: url(./images/DSC09190.jpeg);
    background-position-y: -1640px;
    background-position-x: -3905px;
}

h1{
    font-size: 375%;
    margin: 0;
}

.nav{
    font-size: 175%;
}


.main{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:2%;
}


.container-left {
    font-size: 250%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#about-me{
    margin: 5%;
    border-right: 6px solid #7b6886;
}

#work{
    margin: 5%;
    border-right: 6px solid #7b6886;

}

#contact{
    margin: 5%;
    border-right: 6px solid #7b6886;

}

.container-right{
    display:flex;
    flex-direction: column;
    width: 45%;
}


.work-samples{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

img{
    margin: 5%;
    max-width:100%;
    height:auto;
}

.contact-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}




/* TEST TEST TEST */ 


.section-wrapper1{
    display:flex;
    justify-content: center;
    padding: 10px;
    margin: 15px;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-me-section-test{
    display: flex;
    flex-direction: row;    
}

#about-me-test{
    font-size: 325%;
    border-right: 6px solid #7b6886;

}


#about-me-contents-test{
    margin-left: 15px;
}


.section-wrapper2{
    display:flex;
    justify-content: center;
    padding: 10px;
    margin: 15px;
    flex-direction: row;
    flex-wrap: wrap;
}

.work-section-test{
    display: flex;
    flex-direction: row;    
}

#work-test{
    font-size: 325%;
    border-right: 6px solid #7b6886;
}

#work-samples-test{
    display:flex;
    flex-wrap: wrap;
}


.main-test{
    display: ;
}

.section-wrapper3{
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin: 15px;
}

.contact-section-test{
    display: flex;
    flex-direction: row;    
}

#contact-test{
    font-size: 325%;
    border-right: 6px solid #7b6886;
}

#contact-info-test{
    display:flex;
    flex-wrap: wrap;
}