body{
    font-family: 'Karma', serif;
    color:white;
    background-color: #e3dec8;
}

.header{
    height: 289px;
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-image: url(./images/DSC09190.jpeg);
    background-position-y: -1640px;
    background-position-x: -3905px;
}

h1{
    font-size: 375%;
    margin: 0;
}

ul{
    display: flex;
    flex-direction: row;
}

li{
    margin: 5%;
    width: 10%;
}

.main{
    display:flex;
    flex-direction: row;
}


.container-right{
    display:flex;
    flex-direction: column;
    width: 45%;
}